.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 8px;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: #9aaab7;
}
